[submodule "external/unit"]
	path = external/unit
	url = https://github.com/dieu-detruit/unit.git
[submodule "external/autodiff"]
	path = external/autodiff
	url = https://github.com/autodiff/autodiff.git
[submodule "external/wavefield"]
	path = external/wavefield
	url = https://github.com/dieu-detruit/wavefield.git
